body {
    font-family: Arial, sans-serif;
    
    margin: 100px;
}

.container {
    background-color: #5f6061;
    max-width: 350px;
    margin: 0 auto;
    padding: 10%;
    border-radius: 12px;
}

.container label{
    font-style: italic;
    font-size: large;
}
h1 {
    text-align: center;
    color: #0c1722;
}

input, select, button {
    margin: 10px;
    padding: 5px;
    font-style: italic;
    border-radius: 12px;  
}

#result {
    text-align: center;
    color: #ccc;
    font-size: 24px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #111111;
    border-radius: 12px;
}
